.text_box{
  background-color: #202225;
  font-family: 'Courier New', Courier, monospace;
  color: lime;
  border-radius: 10px;
  padding: 2px 3px;
}
.text_default {
  background-color: #363940;
  color: #ffffff;
  font-family: 'arial', sans-serif;
  font-size: 10px;
}
.button_default{
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 10px;
  /*text-transform: uppercase;*/
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 10px 10px 10px;
  color: #b9bbbe;
  box-shadow: inset 0 0 0 2px #b9bbbe;
  background-color: transparent;
  height: 40px;
}
.button_default:hover{
    color: #ffffff;
    background-color: #b9bbbe;
}
.button_1{
  
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #24292e;
  background-color: #fafbfc00;
  border-color: #ffffff;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  color: #ffffff;
}
.button_1:hover{
    background-color: #f3f4f600;
    border-color: #ffffff89;
    transition-duration: 0.1s;
}
body{
  background-color: #363940;
}
#snackbar-container{
	position :  fixed;
    bottom : 0px;
    left : 50%;
}
.snackbar {
  visibility: hidden;
  min-width: 50px;
  margin-left: 600px;
  background-color: #333;
  margin-bottom : 10px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
}
.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
#input_text{
    /*height:10px;*/
    width: 1400px;
    font-size:10pt;
}
.scroll{
 /**/
}
/* width */
.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #202225; 
  border-radius: 10px;
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}
